.App {
display: flex;
flex-direction: column;
margin: 0;
}



.main-content{
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 100vh;
  flex-wrap:wrap
}
